<h1>コメント一覧</h1>
<ul>
  <% @post_comments.each do |comment| %>
    <li>
      <strong><%= comment.user.name if comment.user %></strong>: 
      <%= comment.comment %>
      <br>
      投稿日時: <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
      <br>
      <%= link_to "削除", admin_comment_path(comment), 
          method: :delete, 
          data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</ul>