<div class="container">
 <div class="row">
   <h1 class="px-3 mx-auto">Indies Createrにようこそ！</h1></br>
   <h2 class="px-3 mx-auto">このサイトはクリエイターたちの交流を行うためのサイトです。ガイドラインに沿ってご利用ください。
   </h2>
  </div>
 </div>