<div class="container">
 <div class="row　mt-5">
   <h1 class="px-3 mx-auto heading-title">Indies Createrにようこそ！</h1>
   <br>
   <h2 class="px-3 mx-auto">このサイトはクリエイターたちの交流を行うためのサイトです。ガイドラインに沿ってご利用ください。
   </h2>
  </div>
 </div>