<div class="container">
 <div class="row　mt-5">
   
<div><%= link_to "小説クリエイター一覧", admin_dashboards_novel_path %></div></br>

<div><%= link_to "音楽クリエイター一覧", admin_dashboards_music_path %></div></br>

<div><%= link_to "イラストクリエイター一覧", admin_dashboards_illust_path %></div></br>

<div><%= link_to "その他クリエイター一覧", admin_dashboards_others_path %></div></br>
