<h1>music</h1>

<div class="row">
  <% @users.each do |user| %>
    <div class="col-md-3 text-center">
      <h3><%= link_to user.name, user_path(user), class: "text-decoration-none" %></h3>
      <%= image_tag user.get_profile_image(100, 100), class: "img-fluid rounded-circle" %>
      <%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' } %>
    </div>
  <% end %>
</div>
